<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../boardMain/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../boardMain/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../boardMain/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>

<body>
    <%-include('./partials/preloader')%>

        <%-include('./partials/header')%>


            <%-include('./partials/left-sidebar')%>
                <div class="mobile-menu-overlay"></div>

                <div class="main-container">
                    <div class="min-height-200px">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="title">
                                        <h4>Form de Edição</h4>
                                    </div>
                                    <nav aria-label="breadcrumb" role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Dieta</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- horizontal Basic Forms Start -->
                        <div class="pd-20 card-box mb-30">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h4 class="text-blue h4" style="font-size: medium;"><span
                                            style="border-bottom: solid thin #1d1c1c;">Gerenciar</span></h4>
                                </div>
                            </div>
                            <div class="faq-wrap">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <button style="background-color: #1d1c1c; " class="btn btn-block"
                                                data-toggle="collapse" data-target="#faq1">
                                                Editar a dieta
                                            </button>
                                        </div>
                                        <div id="faq1" class="collapse hidden pt-4" data-parent="#accordion">

                                            <div class="card-body">
                                                <form id="createDietaForm" method="post"
                                                    action="/admin/edit-dieta/<%=dieta.id%>">
                                                    <div class="form-group">
                                                        <label>Nome</label>
                                                        <input class="form-control" type="text" name="nome_da_dieta"
                                                            value="<%=dieta.nome_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>descricao_da_dieta</label>
                                                        <input class="form-control" type="text"
                                                            name="descricao_da_dieta"
                                                            value="<%=dieta.descricao_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>objetivo_da_dieta</label>
                                                        <input class="form-control" type="text" name="objetivo_da_dieta"
                                                            value="<%=dieta.objetivo_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>duracao_estimada</label>
                                                        <input class="form-control" type="text" name="duracao_estimada"
                                                            value="<%=dieta.duracao_estimada%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>nivel_de_dificuldade</label>
                                                        <input class="form-control" type="text"
                                                            name="nivel_de_dificuldade"
                                                            value="<%=dieta.nivel_de_dificuldade%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>calorias_diarias</label>
                                                        <input class="form-control" type="text" name="calorias_diarias"
                                                            value="<%=dieta.calorias_diarias%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>proteinas</label>
                                                        <input class="form-control" type="text" name="proteinas"
                                                            value="<%=dieta.proteinas%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>carboidratos</label>
                                                        <input class="form-control" type="text" name="carboidratos"
                                                            value="<%=dieta.carboidratos%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>gorduras</label>
                                                        <input class="form-control" type="text" name="gorduras"
                                                            value="<%=dieta.gorduras%>">
                                                    </div>

                                                    <button class="btn btn-dark btn-sm" type="submit">Editar</button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button style="background-color: #1d1c1c;" class="btn btn-block collapsed"
                                                data-toggle="collapse" data-target="#faq2">
                                                Refeições
                                            </button>
                                        </div>
                                        <div id="faq2" class="collapse pt-4" data-parent="#accordion">
                                            <div class="card-body">
                                                <form id="dieta-form" action="/admin/edit-dieta/<%= dieta.id %>"
                                                    method="POST">
                                                    <div id="refeicoes-container">
                                                        <!-- Área para adicionar refeições dinamicamente -->
                                                    </div>
                                                    <button class="btn btn-outline-primary" type="button"
                                                        id="add-refeicao">Adicionar Refeição</button>
                                                    <button class="btn btn-outline-dark" type="submit">Salvar
                                                        Refeição</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div style="background-color: #300808;" class="card-header">
                                            <button class="btn btn-block collapsed text-white" data-toggle="collapse"
                                                data-target="#faq3">
                                                Visualizar Dieta
                                            </button>
                                        </div>
                                        <div id="faq3" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <h6 class="pt-3" style="font-size: small;">
                                                    Nome: <%= dieta.nome_da_dieta %>
                                                        <hr>
                                                        <!-- Botão para visualizar dieta completa -->
                                                        <button class="btn btn-outline-dark btn-sm mb-4"
                                                            data-toggle="modal" data-target="#viewDietaCompletaModal">
                                                            Ver Dieta Completa
                                                        </button>
                                                </h6>
                                                <h6 style="font-size: small;">Refeições:</h6>
                                                <hr>

                                                <% if (refeicoes && refeicoes.length> 0) { %>
                                                    <% refeicoes.forEach(function(refeicao, indexRefeicao) { %>
                                                        <div
                                                            class="d-flex justify-content-between align-items-center mb-3">
                                                            <h6 class="pt-3 h6">- <%= refeicao.nome %>
                                                            </h6>
                                                            <div>
                                                                <i class="icon-copy dw dw-edit-1" data-toggle="modal"
                                                                    data-target="#editRefeicaoModal<%= indexRefeicao %>"></i>
                                                                <i type="button" class="icon-copy dw dw-delete-2"
                                                                    data-toggle="modal"
                                                                    data-target="#deleteRefeicaoModal<%= indexRefeicao %>"></i>
                                                            </div>
                                                        </div>

                                                        <!-- <ul>
                                                            <% refeicao.alimentos.forEach(function(alimento) { %>
                                                                <li>
                                                                    <%= alimento.quantidade %>
                                                                        <%= alimento.unidadeMD %> de <%= alimento.nome
                                                                                %> -
                                                                                <%= alimento.proteina %>g de proteínas,
                                                                                    <%= alimento.carboidrato %>g de
                                                                                        carboidratos,
                                                                                        <%= alimento.gordura %>g de
                                                                                            gorduras,
                                                                                            <%= alimento.caloria %>
                                                                                                calorias
                                                                </li>
                                                                <% }) %>
                                                        </ul> -->
                                                        <hr>

                                                        <!-- Modal para editar refeição e alimentos -->
                                                        <div class="modal fade"
                                                            id="editRefeicaoModal<%= indexRefeicao %>" tabindex="-1"
                                                            aria-labelledby="editRefeicaoModalLabel<%= indexRefeicao %>"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="editRefeicaoModalLabel<%= indexRefeicao %>">
                                                                            Editar Refeição e Alimentos
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <form id="editRefeicaoForm<%= indexRefeicao %>"
                                                                        action="/admin/update-refeicao/<%= refeicao.id %>"
                                                                        method="POST">
                                                                        <input type="hidden" name="dietaId"
                                                                            value="<%= dieta.id %>">
                                                                        <div class="modal-body">
                                                                            <div class="form-group">
                                                                                <label
                                                                                    for="nome_refeicao_<%= indexRefeicao %>">Nome
                                                                                    da Refeição:</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="nome_refeicao_<%= indexRefeicao %>"
                                                                                    name="nome_refeicao"
                                                                                    value="<%= refeicao.nome %>">
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label>Alimentos:</label>
                                                                                <% if (refeicao.alimentos &&
                                                                                    refeicao.alimentos.length> 0) { %>
                                                                                    <% refeicao.alimentos.forEach(function(alimento,
                                                                                        indexAlimento) { %>
                                                                                        <div class="form-group">
                                                                                            <input type="hidden"
                                                                                                name="alimentos[<%= indexAlimento %>][id]"
                                                                                                value="<%= alimento.id %>">
                                                                                            <label
                                                                                                for="nome_alimento_<%= indexRefeicao %>_<%= indexAlimento %>">Nome
                                                                                                do Alimento:</label>
                                                                                            <input type="text"
                                                                                                class="form-control"
                                                                                                id="nome_alimento_<%= indexRefeicao %>_<%= indexAlimento %>"
                                                                                                name="alimentos[<%= indexAlimento %>][nome]"
                                                                                                value="<%= alimento.nome %>">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label
                                                                                                for="quantidade_alimento_<%= indexRefeicao %>_<%= indexAlimento %>">Quantidade:</label>
                                                                                            <input type="text"
                                                                                                class="form-control"
                                                                                                id="quantidade_alimento_<%= indexRefeicao %>_<%= indexAlimento %>"
                                                                                                name="alimentos[<%= indexAlimento %>][quantidade]"
                                                                                                value="<%= alimento.quantidade %>">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <label
                                                                                                for="unidade_medida_<%= indexRefeicao %>_<%= indexAlimento %>">Unidade
                                                                                                de Medida:</label>
                                                                                            <input type="text"
                                                                                                class="form-control"
                                                                                                id="unidade_medida_<%= indexRefeicao %>_<%= indexAlimento %>"
                                                                                                name="alimentos[<%= indexAlimento %>][unidadeMD]"
                                                                                                value="<%= alimento.unidadeMD %>">
                                                                                        </div>
                                                                                        <% }) %>
                                                                                            <% } else { %>
                                                                                                <p>Não há alimentos
                                                                                                    cadastrados para
                                                                                                    esta refeição.</p>
                                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Fechar</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary">Salvar
                                                                                mudanças</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Modal de exclusão -->
                                                        <div class="modal fade"
                                                            id="deleteRefeicaoModal<%= indexRefeicao %>" tabindex="-1"
                                                            aria-labelledby="deleteRefeicaoModalLabel<%= indexRefeicao %>"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="deleteRefeicaoModalLabel<%= indexRefeicao %>">
                                                                            Confirmar Exclusão</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Tem certeza de que deseja excluir a refeição <%=
                                                                            refeicao.nome %>?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form
                                                                            action="/admin/delete-refeicao/<%= refeicao.id %>"
                                                                            method="POST">
                                                                            <input type="hidden" name="dietaId"
                                                                                value="<%= dieta.id %>">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Cancelar</button>
                                                                            <button type="submit"
                                                                                class="btn btn-danger">Excluir</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <p>Não há refeições cadastradas para esta dieta.</p>
                                                                <% } %>
                                            </div>




                                        </div>
                                    </div>

                                    <!-- Modal para visualizar dieta completa -->
                                    <div class="modal fade" id="viewDietaCompletaModal" tabindex="-1"
                                        aria-labelledby="viewDietaCompletaModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="viewDietaCompletaModalLabel">Dieta
                                                        Completa</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6>Nome da Dieta: <%= dieta.nome_da_dieta %>
                                                    </h6>
                                                    <hr>
                                                    <% if (refeicoes && refeicoes.length> 0) { %>
                                                        <% refeicoes.forEach(function(refeicao) { %>
                                                            <h6 class="pb-1"><strong>
                                                                    <%= refeicao.nome %>
                                                                </strong></h6>
                                                            <ul>
                                                                <% if (refeicao.alimentos && refeicao.alimentos.length>
                                                                    0) { %>
                                                                    <% refeicao.alimentos.forEach(function(alimento) {
                                                                        %>
                                                                        <li>
                                                                            <%= alimento.quantidade %>
                                                                                <%= alimento.unidadeMD %> <strong>
                                                                                        <%= alimento.nome %>
                                                                                    </strong>
                                                                        </li>
                                                                        <% }) %>
                                                                            <% } else { %>
                                                                                <li>Sem alimentos para esta refeição.
                                                                                </li>
                                                                                <% } %>
                                                            </ul>
                                                            <hr>
                                                            <% }) %>
                                                                <% } else { %>
                                                                    <p>Não há refeições cadastradas para esta dieta.</p>
                                                                    <% } %>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq3">
                                                Collapsible Group Item #3
                                            </button>
                                        </div>
                                        <div id="faq3" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                                <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                    life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq4">
                                                Collapsible Group Item #4
                                            </button>
                                        </div>
                                        <div id="faq4" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq5">
                                                Collapsible Group Item #5
                                            </button>
                                        </div>
                                        <div id="faq5" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq6">
                                                Collapsible Group Item #6
                                            </button>
                                        </div>
                                        <div id="faq6" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                                <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                    life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <hr>
                                <a href="/admin/list-dietas" class="btn btn-outline-dark btn-sm">Voltar</a>
                            </div>


                        </div>
                        <!-- horizontal Basic Forms End -->
                        <%-include('./partials/footer')%>
                    </div>
                    <!-- js -->

                    <script src="../../boardMain/vendors/scripts/core.js"></script>
                    <script src="../../boardMain/vendors/scripts/script.min.js"></script>
                    <script src="../../boardMain/vendors/scripts/process.js"></script>
                    <script src="../../boardMain/vendors/scripts/layout-settings.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            let refeicaoCount = 0;
                            const alimentos = <%- JSON.stringify(alimentos) %>; // Passando a lista de alimentos do backend

                            // Função para adicionar uma nova refeição
                            document.getElementById('add-refeicao').addEventListener('click', () => {
                                refeicaoCount++;
                                const refeicaoContainer = document.createElement('div');
                                refeicaoContainer.classList.add('refeicao');
                                refeicaoContainer.innerHTML = `
                                    <h6>Refeição ${refeicaoCount}</h6>
                                    <div class="form-group">
                                        <label for="nome_refeicao_${refeicaoCount}">Nome da Refeição:</label>
                                        <input class="form-control" type="text" name="refeicoes[${refeicaoCount}][nome]" id="nome_refeicao_${refeicaoCount}" placeholder="Adicionar refeição">
                                    </div>
                                    <div class="alimentos-container pt-2" id="alimentos_${refeicaoCount}">
                                        <label><strong>Adicionar alimentos à refeição:</strong></label>
                                    </div>
                                    <i type="button" class="icon-copy dw dw-add add-alimento btn btn-dark" data-refeicao="${refeicaoCount}"></i>
                                    <hr>
                                `;
                                document.getElementById('refeicoes-container').appendChild(refeicaoContainer);
                            });

                            // Função para adicionar alimentos à refeição
                            document.getElementById('refeicoes-container').addEventListener('click', (event) => {
                                if (event.target.classList.contains('add-alimento')) {
                                    const refeicaoId = event.target.dataset.refeicao;
                                    const alimentosContainer = document.getElementById(`alimentos_${refeicaoId}`);
                                    const alimentoCount = alimentosContainer.children.length + 1;

                                    const alimentoDiv = document.createElement('div');
                                    alimentoDiv.classList.add('form-group');

                                    // Criar o select com a lista de alimentos, quantidade e unidade de medida
                                    // Estrutura HTML para o select de alimentos e o input de quantidade, alinhados corretamente
                                    const selectAndQuantityHTML = `
    <div class="row">
        <div class="col-12">
            <label for="alimento_${refeicaoId}_${alimentoCount}">- Alimento:</label>
            <select class="form-control alimento-select" name="refeicoes[${refeicaoId}][alimentos][${alimentoCount}][id]" id="alimento_${refeicaoId}_${alimentoCount}">
                <option value="">Selecione um alimento</option>
                ${alimentos.map(alimento => `<option value="${alimento.id}">${alimento.nome}</option>`).join('')}
            </select>
        </div>
        
        <div class="col-12 pt-2">
            <label for="quantidade_${refeicaoId}_${alimentoCount}">- Quantidade:</label>
            <input class="form-control" type="number" step="0.01" name="refeicoes[${refeicaoId}][alimentos][${alimentoCount}][quantidade]" id="quantidade_${refeicaoId}_${alimentoCount}" placeholder="Digite a quantidade">
        </div>
    </div>
`;
                                    alimentoDiv.innerHTML = selectAndQuantityHTML;
                                    alimentosContainer.appendChild(alimentoDiv);

                                    // Ativar o plugin Select2 para o campo select com busca
                                    $(`#alimento_${refeicaoId}_${alimentoCount}`).select2({
                                        placeholder: 'Selecione ou busque um alimento',
                                        width: '100%',
                                        height: '100%'
                                    });
                                }
                            });

                            // Log para ver os dados que serão enviados no submit
                            document.getElementById('dieta-form').addEventListener('submit', (event) => {
                                console.log("Dados enviados:");
                                const formData = new FormData(event.target);
                                for (let pair of formData.entries()) {
                                    console.log(pair[0] + ': ' + pair[1]);
                                }
                            });
                        });
                    </script>

                    <!-- Importando a biblioteca Select2 -->
                    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
                        rel="stylesheet" />
                    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</body>

</html>