<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../boardMain/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../boardMain/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../boardMain/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../boardMain/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>

<body>
    <%-include('./partials/preloader')%>

        <%-include('./partials/header')%>


            <%-include('./partials/left-sidebar')%>
                <div class="mobile-menu-overlay"></div>

                <div class="main-container">
                    <div class="min-height-200px">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="title">
                                        <h4>Form de Edição</h4>
                                    </div>
                                    <nav aria-label="breadcrumb" role="navigation">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Dieta</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- horizontal Basic Forms Start -->
                        <div class="pd-20 card-box mb-30">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <h4 class="text-blue h4">Dieta</h4>
                                </div>
                            </div>
                            <div class="faq-wrap">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <button style="background-color: #1d1c1c; " class="btn btn-block" data-toggle="collapse" data-target="#faq1">
                                                Editar a dieta
                                            </button>
                                        </div>
                                        <div id="faq1" class="collapse hidden pt-4" data-parent="#accordion">

                                            <div class="card-body">
                                                <form id="createDietaForm" method="post"
                                                    action="/admin/edit-dieta/<%=dieta.id%>">
                                                    <div class="form-group">
                                                        <label>Nome</label>
                                                        <input class="form-control" type="text" name="nome_da_dieta"
                                                            value="<%=dieta.nome_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>descricao_da_dieta</label>
                                                        <input class="form-control" type="text"
                                                            name="descricao_da_dieta"
                                                            value="<%=dieta.descricao_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>objetivo_da_dieta</label>
                                                        <input class="form-control" type="text" name="objetivo_da_dieta"
                                                            value="<%=dieta.objetivo_da_dieta%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>duracao_estimada</label>
                                                        <input class="form-control" type="text" name="duracao_estimada"
                                                            value="<%=dieta.duracao_estimada%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>nivel_de_dificuldade</label>
                                                        <input class="form-control" type="text"
                                                            name="nivel_de_dificuldade"
                                                            value="<%=dieta.nivel_de_dificuldade%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>calorias_diarias</label>
                                                        <input class="form-control" type="text" name="calorias_diarias"
                                                            value="<%=dieta.calorias_diarias%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>proteinas</label>
                                                        <input class="form-control" type="text" name="proteinas"
                                                            value="<%=dieta.proteinas%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>carboidratos</label>
                                                        <input class="form-control" type="text" name="carboidratos"
                                                            value="<%=dieta.carboidratos%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>gorduras</label>
                                                        <input class="form-control" type="text" name="gorduras"
                                                            value="<%=dieta.gorduras%>">
                                                    </div>

                                                    <button class="btn btn-success" type="submit">Editar</button>
                                                    <a href="/admin/list-dietas" class="btn btn-secondary">Voltar</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button style="background-color: #1d1c1c; " class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq2">
                                                Refeições
                                            </button>
                                        </div>
                                        <div id="faq2" class="collapse pt-4" data-parent="#accordion">
                                            <div class="card-body">
                                                <form id="dieta-form" action="/admin/edit-dieta/<%= dieta.id %>"
                                                    method="POST">
                                                    <div id="refeicoes-container">
                                                        <!-- Área para adicionar refeições dinamicamente -->
                                                    </div>
                                                    <button class="btn btn-outline-primary" type="button"
                                                        id="add-refeicao">Adicionar Refeição</button>
                                                    <button class="btn btn-outline-dark" type="submit">Salvar
                                                        Dieta</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div style="background-color: #300808; " class="card-header">
                                            <button class="btn btn-block collapsed text-white" data-toggle="collapse"
                                                data-target="#faq3">
                                                Visualizar Dieta
                                            </button>
                                        </div>
                                        <div id="faq3" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                    <h6 class="pt-3">
                                                      Dieta:  <%= dieta.nome_da_dieta %> <hr>
                                                    </h6>
                                                    <h6>Refeições:</h6>
                                                    <!-- <p>Descrição: <%= dieta.descricao_da_dieta %> <br> Objetivo: <%= dieta.objetivo_da_dieta %> <br>Duração: <%= dieta.duracao_estimada %> dias -->
                                                    <hr>
                                                    
                                                    <% if (dieta.refeicoes && dieta.refeicoes.length> 0) { %>
                                                        <% dieta.refeicoes.forEach(function(refeicao) { %>
                                                            <div  class="pt-1">
                                                                <h6 class="mb-1 h6">
                                                                    - <%= refeicao.nome %> 
                                                                </h6>
                                                                <ul class="list-group-flush">
                                                                    <% refeicao.alimentos.forEach(function(alimento) { %>
                                                                        <li style="font-size: small; font-weight: 400;" class="list-group"><%= alimento.nome %> - <%= alimento.quantidade %> </li>
                                                                    <% }) %>
                                                                </ul>
                                                                <hr>
                                                            </div>
                                            
                                                        <% }) %>
                                                        <% } else { %>
                                                             <p>Não há refeições cadastradas para esta dieta.</p>
                                                        <% } %>


                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq3">
                                                Collapsible Group Item #3
                                            </button>
                                        </div>
                                        <div id="faq3" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                                <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                    life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq4">
                                                Collapsible Group Item #4
                                            </button>
                                        </div>
                                        <div id="faq4" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq5">
                                                Collapsible Group Item #5
                                            </button>
                                        </div>
                                        <div id="faq5" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry
                                                richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                                dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                moon
                                                tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                                                labore
                                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                butcher
                                                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                                aesthetic
                                                synth nesciunt you probably haven't heard of them accusamus labore
                                                sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <button class="btn btn-block collapsed" data-toggle="collapse"
                                                data-target="#faq6">
                                                Collapsible Group Item #6
                                            </button>
                                        </div>
                                        <div id="faq6" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                                <p class="mb-0">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                    life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid
                                                    single-origin coffee nulla assumenda shoreditch et. Nihil anim
                                                    keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft
                                                    beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.</p>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>


                        </div>
                        <!-- horizontal Basic Forms End -->
                        <%-include('./partials/footer')%>
                    </div>
                    <!-- js -->

                    <script src="../../boardMain/vendors/scripts/core.js"></script>
                    <script src="../../boardMain/vendors/scripts/script.min.js"></script>
                    <script src="../../boardMain/vendors/scripts/process.js"></script>
                    <script src="../../boardMain/vendors/scripts/layout-settings.js"></script>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            let refeicaoCount = 0;

                            document.getElementById('add-refeicao').addEventListener('click', () => {
                                refeicaoCount++;
                                const refeicaoContainer = document.createElement('div');
                                refeicaoContainer.classList.add('refeicao');
                                refeicaoContainer.innerHTML = `
                                    <h6>Refeição ${refeicaoCount}</h6>
                                    <div class="form-group">
                                        <label for="nome_refeicao_${refeicaoCount}">Nome da Refeição:</label>
                                        <input class="form-control" type="text" name="refeicoes[${refeicaoCount}][nome]" id="nome_refeicao_${refeicaoCount}" placeholder="Adicionar refeição">
                                    <div class="alimentos-container pt-2" id="alimentos_${refeicaoCount}">
                                        <label><strong>Adicionar alimentos à refeição:</strong></label>
                                    </div>
                                   
                                    <i type="button" class="icon-copy dw dw-add add-alimento btn btn-dark" data-refeicao="${refeicaoCount}"></i><hr>
                                    </div>
                                `;
                                document.getElementById('refeicoes-container').appendChild(refeicaoContainer);
                            });

                            document.getElementById('refeicoes-container').addEventListener('click', (event) => {
                                if (event.target.classList.contains('add-alimento')) {
                                    const refeicaoId = event.target.dataset.refeicao;
                                    const alimentosContainer = document.getElementById(`alimentos_${refeicaoId}`);
                                    const alimentoCount = alimentosContainer.children.length + 1;
                                    const alimentoDiv = document.createElement('div');
                                    alimentoDiv.innerHTML = `
                                    <div class="form-group">
                                        <label for="alimento_${refeicaoId}_${alimentoCount}"> - Alimento: </label>
                                        <input class="form-control" type="text" name="refeicoes[${refeicaoId}][alimentos][${alimentoCount}][nome]" id="alimento_${refeicaoId}_${alimentoCount}" placeholder="Adicionar alimento">
                                    </div>
                                    `;
                                    alimentosContainer.appendChild(alimentoDiv);
                                }
                            });

                            document.getElementById('dieta-form').addEventListener('submit', (event) => {
                                // Log para ver os dados que serão enviados no submit
                                console.log("Dados enviados:");
                                const formData = new FormData(event.target);
                                for (let pair of formData.entries()) {
                                    console.log(pair[0] + ': ' + pair[1]);
                                }
                            });
                        });
                    </script>


</body>

</html>